body {
    font-family: 'Roboto', sans-serif;

}

/* Table filters */

.form-control {
	float: left;
	display: inline;
}

.filterTo {
	float: left;
	display: inline;
}

#mainArea {
	display:none;
}

#login-container {
	display:none;
}

.well {
    padding-left: 2.5%;
    padding-bottom: 0%;
    padding-top: 0%;
}

/* Login form CSS */

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
    color: #0018A8;
    font-size: 18px;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #0018A8;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #0018A8;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #0018A8;
    border-color: #0018A8;
}

.lbl {
    text-anchor: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    display: block;
    vertical-align: middle;
}


.lbl2 {
    text-anchor: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    display: block;
    vertical-align: middle;
    color: darkgrey;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 125px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightgray;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

#EPLVSubmit {
    margin-bottom: 6px;
    margin-left: 6px;
}